<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Open Charge Map.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>304251162A90EB2D0092AB95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>304251262A90EB2E0092AB95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>304251302A90EB2E0092AB95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
